1.py
saper.db
rudn.db-journal
3.html
Расписание занятий РУДН 2_files
Расписание занятий РУДН3_files
Расписание занятий РУДН_files
test.py
Расписание занятий РУДН.htm
Расписание занятий РУДН 2.htm
Расписание занятий РУДН3.htm